@import "Componets";

.post-detail {
    .breadcrumb {
        font-size: .7rem !important;
        padding: 2rem 0;
    }

    .post-header {
        .post-title {
            font-size: 1.5rem;
            color: $main-dark;
            font-weight: 500;
            line-height: 1.5;
            margin: 0;
        }

        .post-subtitle {
            font-size: 1rem;
            color: rgba(0,0,0,.5);
            font-weight: 400;
            line-height: 2;
            margin: 8px 0 16px;
        }

        .post-tag {
            align-items: center;
            border: 1px solid rgba(0,0,0,.12);
            border-radius: 2px;
            color: rgba(0,0,0,.5);
            display: inline-flex;
            font-weight: 400;
            height: auto;
            line-height: 2;
            overflow: hidden;
            padding: 0 4px 0 8px;

            span {
                flex: 1 1;
                margin-right: .25rem;
                font-size: .875rem;
            }
        }
    }


    .post-action {
        margin: 28px 0;
        display: flex;
        justify-content: space-between;
    }

    .post-info {
        .field {
            border-bottom: 1px solid rgba(black, .12);
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            .title {
                color: rgba(black, .56);
            }

            .value {
                color: $main-dark;
            }

            .title, .value {
                font-size: .875rem;
                line-height: 2;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .post-description {
        margin-top: 24px;
        color: $main-dark;

        .title {
            font-size: 1.125rem;
            margin: 0;
            line-height: 1.5;
        }

        .description {
            font-size: 1rem;
            line-height: 2;
            margin: 0;
        }
    }

    .feedback {
        @include pointer;
        border-bottom: 1px solid rgba(black, .12);
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .note {
        p {
            font-size: .75rem;
            color: rgba(black, .56);
            margin: .3rem 0 1rem;
        }
    }

    .store {
        border: 1px solid rgba(black, .12);
        padding: 1rem;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin-top: 3rem;

        img {
            width: 64px;
            height: 64px;
            margin-left: 1rem;
        }

        &-title {
            color: rgba(0,0,0,.87);
            font-size: 1rem;
            line-height: 32px;
            margin: 0;
        }
    }

    .store-info {
        margin-top: 1rem;
        .title {
            color: rgba(0,0,0,.87);
            font-size: inherit;
            font-weight: 500;
            line-height: 2;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .field {
            border-bottom: 1px solid rgba(black, .12);
            color: rgba(0,0,0,.7);
            font-size: 1rem;
            line-height: 2;
            padding: 8px 0;
        }
    }
}