@import "Componets";

@font-face {font-family: "IRAN Sans"; src: url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.eot"); src: url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.woff") format("woff"), url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3967f8bfcdf02e2b966e2f252738ddca.svg#IRANSans") format("svg"); }

* {
    direction: rtl;
    font-family: 'IRAN Sans', sans-serif !important;
}

.vertical-line {
    @include verticalLine();
}

.pointer {
    @include pointer;
}

input {
    &::placeholder {
        color: rgba(black,.3);
    }
}

.input-parent {
    position: relative;

    .clear, .search {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -9px);
    }

    .search {
        right: 10px;
        transform: translate(0, -10px);
    }

    .input {
        @include input;
        width: 100%;
        display: block;
    }

    .textarea {
        @include scrollBars(4px, #d5d5d5, white);
        line-height: 2;
        resize: none;
    }

    .textarea-clear {
        position: absolute;
        left: 2px;
        bottom: -7px;
        transform: translate(0, -9px)
    }
}

a {
    color: #A62626;
    text-decoration: none;

    &:hover {
        color: #A62626;
    }
}

